﻿The database is automatically initialized. For every launch app the database is cleared and initialize the data from Warehouse.Data.DataBase/InitializedDb.cs.
<br />
There are two role. Admin which has access two every action in the application and Employee which has some restrictions.
<br />
@if (User.IsInRole("Admin"))
{
    <div>
        As administrator you can:<br />
        - create new account,<br/>
        - reset password,<br/>
        - change permissions,<br/>
        - edit user data,<br/>
        - delete user account,<br/>
        - create, edit and delete categories,<br/>
        - create, edit and delete customers,<br/>
        - add products to customer,<br/>
        - view customer details,<br/>
        - create, edit and delete products,<br/>
        - add products to customer<br/> 
    </div>
}

@if (User.IsInRole("Employee"))
{
    <div>
        As an employee you can:<br />
        - reset your password,<br />        
        - edit your data,<br />        
        - create, edit and delete categories,<br />
        - create, edit and delete customers,<br/>
        - add products to customer,<br/>
        - view customer details,<br />
        - create, edit and delete products<br/>        
    </div>
}
