﻿@model IEnumerable<Warehouse.Model.Models.Customer>

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create New Customer", "CreateCustomer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var customer in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => customer.LastName)
        </td>
        <td>
            @Html.ActionLink("Add products", "AddProducts", new { id = customer.Id}) |
            @Html.ActionLink("Edit", "EditCustomer", new {id = customer.Id}) |
            @Html.ActionLink("Details", "DetailsCustomer", new {id = customer.Id}) |
            @Html.ActionLink("Delete", "DeleteCustomer", new {id = customer.Id})
        </td>
    </tr>
}

</table>
