﻿@model Warehouse.Model.Models.Customer

<h3>Are you sure you want to delete this customer?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">                    
                    <input type="submit" value="Delete" class="btn btn-default"/> 
                </div>
            }
        </dd>
        @Html.ActionLink("Back to List", "CustomersList")
        
    </dl>
</div>
