﻿@model Warehouse.ViewModels.AddProductsViewModel

<div>
    <h4>Customer details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
    <h6>Products:</h6>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
        @foreach (var product in Model.CustomerProducts)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Quantity</td>
                <td>@product.Price</td>
                <td>
                    @Html.ActionLink("Edit", "EditCustomerProduct", new { @id = product.Id }) |
                    @Html.ActionLink("Delete", "DeleteCustomerProduct", new { @id = product.Id })
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Add products", "AddProducts", new {id = Model.CustomerId}) |
    @Html.ActionLink("Edit", "EditCustomer", new {id = Model.CustomerId}) |
    @Html.ActionLink("Back to List", "CustomersList")
</p>
