﻿@model IEnumerable<Warehouse.Model.Models.Product>

<h2>List of products</h2>

<p>
    @Html.ActionLink("Create product", "CreateProduct")
</p>
<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th></th><th></th>
        </tr>    
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Quantity</td>
                <td>@product.Price</td>
                <td>@product.Category.Name</td>
                <td>
                    @Html.ActionLink("Edit", "EditProduct", new {@id = product.Id}) |
                    @Html.ActionLink("Delete", "DeleteProduct", new {@id = product.Id})
                </td>
        </tr>
        }    
</table>

