﻿@using Microsoft.AspNet.Identity
@model Warehouse.Data.DataBase.ApplicationUser


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Your account settings</h4>
    <hr />
    <dl>
        <dt>Change password:</dt>
        <dd>
            @Html.ActionLink("Change your password", "ResetPassword", "Manage")
        </dd>
        <dt>Change account details:</dt>
        <dd>
            @Html.ActionLink("Account details", "EditUser", new { userName = User.Identity.GetUserName() })
        </dd>
    </dl>
</div>
