﻿@model List<Warehouse.ViewModels.UserViewModel>

<div class="row">
    <h2>List of users</h2>
    @Html.ActionLink("Create new account", "Register", "Account")
    <p class="text-success">@ViewBag.StatusMessage</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Role name</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Reset password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in @Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.RoleName</td>
                    <td>@Html.ActionLink("Edit", "EditUser", new { userName = user.Username })</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = user.UserId },
                        new { onclick = "return confirm('Are you sure you want to delete this user?');" })
                </td>
                <td>@Html.ActionLink("Reset password", "ResetPassword")</td>
            </tr>
            }
        </tbody>
    </table>
</div>
