﻿@model IEnumerable<Warehouse.Model.Models.Category>

<h2>List of category</h2>

<p>
    @Html.ActionLink("Create category", "CreateCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var category in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => category.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCategory", new { id=category.Id }) |   
            @Html.ActionLink("Delete", "DeleteCategory", new { id=category.Id })
        </td>
    </tr>
}

</table>
