﻿@model Warehouse.Model.Models.Category

<h2>Delete category</h2>

<h3>Are you sure you want to delete this category?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
        <dd>
            <input type="submit" value="Delete" class="btn btn-default" />
        </dd>
                </div>
            }
        </dd>
        @Html.ActionLink("Back to List", "CategoriesList")
    </dl>    
</div>
