﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>

    @if (User.IsInRole("Admin"))
    {
        <p>
            Password has been reset. Back to @Html.ActionLink("list of users", "ListUsers", "Manage")
        </p>
    }
    else
    {
        <p> Password has been changed. Back to @Html.ActionLink("account", "Index", "Manage")</p>
    }


</div>
